source_up               # Find and load .envrc from nearest ancestor directory
test -f .env && dotenv  # Auto-export environment variables
use node                # Automatically use the node version found in .nvmrc
layout node             # Add .node_modules/bin to the PATH
watch_file .nvmrc       # If .nvmrc changes, auto-use specified node version
