aws_region = "${AWS_REGION}"
prefix     = "cumulus-${PREFIX}"

elasticsearch_config = {
  domain_name    = "es"
  instance_count = 2
  instance_type  = "t2.small.elasticsearch"
  version        = "5.3"
  volume_size    = 10
}

rds_cluster_remote_state_config = {
  bucket = "csdap-cumulus-${PREFIX}-tf-state"
  key    = "rds-cluster/terraform.tfstate"
  region = "${AWS_REGION}"
}
