terraform {
  backend "s3" {
    region         = "${AWS_REGION}"
    bucket         = "csdap-${PREFIX}-tf-state"
    key            = "data-persistence/terraform.tfstate"
    dynamodb_table = "csdap-${PREFIX}-tf-locks"
  }
}
