terraform {
  backend "s3" {
    region         = "${AWS_REGION}"
    bucket         = "csdap-cumulus-${PREFIX}-tf-state"
    key            = "cumulus/terraform.tfstate"
    dynamodb_table = "cumulus-${PREFIX}-tf-locks"
  }
}
